name: Build with Nuitka

on:
  push:
    tags:
      - "*"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: "x64"
          cache: "pip"
          cache-dependency-path: |
            **/requirements*.txt

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Compile resources
        run: |
          pyside6-rcc --binary assets.qrc -o assets.rcc

      - name: Build Executable
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: main.py
          mode: onefile
          output-file: Until-Then-PTBR-${{ runner.os }}-${{ github.ref_name }}
          windows-icon-from-ico: assets/icon.ico
          linux-icon: assets/icon.ico
          enable-plugins: pyside6
          windows-console-mode: disable
          include-data-files: |
            assets.rcc=assets.rcc
            config.json=config.json
            assets/icon.ico=assets/icon.ico

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }} Build
          path: |
            build/Until-Then-PTBR-${{ runner.os }}-${{ github.ref_name }}.exe
            build/Until-Then-PTBR-${{ runner.os }}-${{ github.ref_name }}
          include-hidden-files: true

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            ./artifacts/**/Until-Then-PTBR-${{ runner.os }}-${{ github.ref_name }}.exe
            ./artifacts/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
